<div class="checklist-new-form" id="checklist-new-form" style="display:none;">
  <%= form_with url: issue_checklists_path(issue), scope: :checklist,
                method: :post, data: { turbo: false },
                html: { class: 'new-checklist-form' } do |f| %>
    <div class="checklist-new-form-fields">
      <%= f.text_field :title,
            placeholder: l(:label_checklist_title_placeholder),
            maxlength: 255,
            class: 'checklist-new-title-input',
            required: true,
            autocomplete: 'off' %>
      <div class="checklist-new-actions">
        <%= f.submit l(:button_create_checklist), class: 'button' %>
        <a href="#" id="btn-cancel-checklist" class="icon icon-cancel">
          <%= l(:button_cancel) %>
        </a>
      </div>
    </div>
  <% end %>
</div>
